apiVersion: apps/v1
kind: Deployment
metadata:
  name: davi-backend-deploy
spec:
  replicas: 1 # Jumlah container awal (nanti ini yang akan otomatis nambah sendiri)
  selector:
    matchLabels:
      app: davi-backend
  template:
    metadata:
      labels:
        app: davi-backend
    spec:
      containers:
        - name: davi-backend
          image: davi-backend:v1
          imagePullPolicy: Never # PENTING: Supaya K8s ambil image dari laptop, bukan internet
          ports:
            - containerPort: 80
          resources: # Wajib ada supaya HPA (Soal no. 2) bisa jalan
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m" # Batas CPU, kalau lewat ini nanti dia auto-scale
              memory: "512Mi"
          env:
            - name: DB_CONNECTION
              value: "mysql"
            - name: DB_HOST
              value: "mysql-service" # PENTING: Ini nama service yang kita buat tadi
            - name: DB_PORT
              value: "3306"
            - name: DB_DATABASE
              value: "buspariwisata"
            - name: DB_USERNAME
              value: "root"
            - name: DB_PASSWORD
              value: "root"# Nanti kita ganti ini setelah database siap
